@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#success-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
#success-modal .message-box {
  height: 220px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}
#success-modal .message-box .white {
  text-align: center;
  border-radius: 20px;
  position: relative;
  padding-top: 20px;
}
#success-modal .message-box .white i {
  font-size: 50px;
  color: green;
}
#success-modal .message-box .blue {
  background-color: #5176E4;
  position: absolute;
  bottom: 0px;
  height: 80px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}
#success-modal .message-box .blue button {
  background-color: #29396D;
  width: 100px;
  height: 40px;
  color: white;
  font-weight: 500px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: green;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: red;
}

#superadmin-dashboard {
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 350px 1fr;
}
#superadmin-dashboard nav {
  cursor: pointer;
  position: fixed;
  width: 300px;
  height: 80px;
  right: 30px;
  top: 30px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
#superadmin-dashboard nav #navbar-open {
  height: 80px;
  display: grid;
  grid-template-columns: 80px 1fr;
}
#superadmin-dashboard nav #navbar-open span {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
}
#superadmin-dashboard nav #navbar-open span img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
}
#superadmin-dashboard nav #navbar-open span .span-data {
  margin-top: 17px;
  display: grid;
}
#superadmin-dashboard nav #navbar-open span .span-data h1 {
  font-size: 16px;
}
#superadmin-dashboard nav #navbar-open span .span-data small {
  font-size: 14px;
}
#superadmin-dashboard nav .nav-content {
  display: none;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 90px;
}
#superadmin-dashboard nav .nav-content .user-data {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#superadmin-dashboard nav .nav-content .user-data #close-navbar {
  z-index: 1;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#superadmin-dashboard nav .nav-content .user-data #close-navbar:hover {
  color: black;
}
#superadmin-dashboard nav .nav-content .user-data .gradient {
  background: linear-gradient(20deg, #FC8353, #FCB053);
  position: relative;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
#superadmin-dashboard nav .nav-content .user-data .gradient .center {
  position: absolute;
  top: 40px;
  width: 100%;
}
#superadmin-dashboard nav .nav-content .user-data .gradient .center center img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}
#superadmin-dashboard nav .nav-content .user-data .gradient .center center h1 {
  color: white;
}
#superadmin-dashboard nav .nav-content .user-data .gradient .center .center-data {
  margin-top: 5px;
  background-color: white;
  padding: 5px 20px;
  border-radius: 20px;
  width: 250px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 25px;
  text-align: center;
}
#superadmin-dashboard .sidebar {
  background-color: #5176E4;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
}
#superadmin-dashboard .sidebar .image-group {
  padding: 10px;
  display: flex;
  margin-top: 10px;
}
#superadmin-dashboard .sidebar .image-group h1 {
  margin-top: 25px;
  padding-left: 20px;
  color: white;
}
#superadmin-dashboard .sidebar .ul-group {
  margin-top: 20px;
}
#superadmin-dashboard .sidebar .ul-group ul {
  list-style-type: none;
  display: grid;
}
#superadmin-dashboard .sidebar .ul-group ul li {
  cursor: pointer;
  color: white;
  line-height: 60px;
}
#superadmin-dashboard .sidebar .ul-group ul li i {
  padding-left: 20px;
  font-size: 18px;
}
#superadmin-dashboard .sidebar .ul-group ul li b {
  padding-left: 30px;
}
#superadmin-dashboard .sidebar a {
  color: white;
}
#superadmin-dashboard .sidebar a i {
  padding-left: 20px;
  font-size: 18px;
}
#superadmin-dashboard .sidebar a b {
  padding-left: 30px;
}
#superadmin-dashboard .content {
  position: relative;
}
#superadmin-dashboard .content #home {
  padding: 120px 20px 20px 20px;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  position: relative;
}
#superadmin-dashboard .content #home h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
#superadmin-dashboard .content #home .row-up {
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
#superadmin-dashboard .content #home .row-up .box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#superadmin-dashboard .content #home .row-up .box:hover {
  background-color: #5176E4;
  color: white;
}
#superadmin-dashboard .content #home .row-up .box h1 {
  font-size: 50px;
}
#superadmin-dashboard .content #home .row-up .box strong {
  font-size: 20px;
  text-transform: uppercase;
}
#superadmin-dashboard .content #home .table-schedule-holder {
  position: relative;
  margin-top: 50px;
  height: 700px;
  display: grid;
  grid-template-columns: 50px 1fr;
}
#superadmin-dashboard .content #home .table-schedule-holder .collection-span {
  position: relative;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  background-color: #B7ACFB;
}
#superadmin-dashboard .content #home .table-schedule-holder .collection-span span {
  position: relative;
  top: 50px;
  right: 20px;
  -webkit-transform: rotate(-90deg);
  margin: 0 10px;
  width: 90px;
  height: 30px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: white;
  cursor: pointer;
}
#superadmin-dashboard .content #home .table-schedule-holder .collection-span :nth-child(1) {
  background-color: #52F258;
}
#superadmin-dashboard .content #home .table-schedule-holder .collection-span :nth-child(2) {
  background-color: #F5D04C;
}
#superadmin-dashboard .content #home .table-schedule-holder .collection-span :nth-child(3) {
  background-color: #5176E4;
}
#superadmin-dashboard .content #home .table-schedule-holder .collection-span :nth-child(4) {
  background-color: red;
}
#superadmin-dashboard .content #home .table-schedule-holder .collection-span :nth-child(5) {
  background-color: gray;
}
#superadmin-dashboard .content #home .table-schedule-design-holder {
  position: relative;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule {
  position: absolute;
  top: -30px;
  width: 100%;
  height: 750px;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule select {
  margin-left: 20px;
  width: 100px;
  font-size: 19px;
  border: none;
  outline: none;
  background-color: white;
  font-weight: bolder;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule .collection-span-clip {
  border-radius: 20px 20px 0 0;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #5176E4;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule .collection-span-clip span {
  position: relative;
  top: -15px;
  margin-left: 50px;
  height: 50px;
  width: 20px;
  border-radius: 5px;
  background-color: white;
  border-top: 1px solid black;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule .table-header {
  background: #5176E4;
  height: 50px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-weight: bolder;
  color: white;
  font-size: 18px;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule .table-fetch-row {
  position: relative;
  background-color: white;
  height: 635px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule .table-fetch-row table {
  width: 100%;
  border-collapse: collapse;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule .table-fetch-row table tr {
  padding-top: 10px;
  text-align: center;
  height: 50px;
  border-bottom: 2px solid #e2e2e2;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule .table-fetch-row table tr th {
  border: 1px solid #e2e2e2;
  width: 14%;
}
#superadmin-dashboard .content #home .table-schedule-design-holder .table-schedule .table-fetch-row table tr:nth-child(11) {
  background-color: #F5D04C;
}
#superadmin-dashboard .content #create {
  padding: 120px 20px 20px 20px;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  position: relative;
}
#superadmin-dashboard .content #create .box-create {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
#superadmin-dashboard .content #configuration {
  padding: 120px 20px 20px 20px;
  height: 100vh;
  width: 100%;
}
#superadmin-dashboard .content #configuration .collection-span {
  height: 50px;
  position: relative;
}
#superadmin-dashboard .content #configuration .collection-span span {
  padding: 5px 10px;
  background-color: #5176E4;
  color: white;
  position: relative;
  bottom: -21px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
#superadmin-dashboard .content #configuration .collection-span span:hover {
  color: #F5D04C;
}
#superadmin-dashboard .content #configuration .configuration-content {
  height: 850px;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0 20px 20px 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .scroll {
  height: 100%;
  padding: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design {
  position: relative;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design h1 {
  font-size: 18px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .button-up-right {
  display: grid;
  grid-template-columns: 1fr 320px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .button-up-right input {
  margin-top: 20px;
  height: 40px;
  max-width: 300px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .button-up-right input:focus {
  box-shadow: 0 0 10px #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .button-up-right button {
  width: 300px;
  height: 40px;
  font-size: 18px;
  font-weight: 500px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #5176E4;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .button-up-right button:hover {
  box-shadow: 0 0 5px #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table {
  margin-top: 20px;
  height: 750px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-header-account, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-header-professor {
  border-radius: 20px 20px 0 0;
  height: 50px;
  width: 100%;
  display: grid;
  background-color: #5176E4;
  padding: 0 20px;
  padding-top: 15px;
  border-bottom: 2px solid #e2e2e2;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 50px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-header-subject {
  border-radius: 20px 20px 0 0;
  height: 50px;
  width: 100%;
  display: grid;
  background-color: #5176E4;
  padding: 0 20px;
  padding-top: 15px;
  border-bottom: 2px solid #e2e2e2;
  color: white;
  grid-template-columns: 100px 1fr 1fr 1fr 50px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-header-classroom, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-header-section {
  border-radius: 20px 20px 0 0;
  height: 50px;
  width: 100%;
  display: grid;
  background-color: #5176E4;
  padding: 0 20px;
  padding-top: 15px;
  border-bottom: 2px solid #e2e2e2;
  color: white;
  grid-template-columns: 1fr 1fr 50px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-header-department {
  border-radius: 20px 20px 0 0;
  height: 50px;
  width: 100%;
  display: grid;
  background-color: #5176E4;
  padding: 0 20px;
  padding-top: 15px;
  border-bottom: 2px solid #e2e2e2;
  color: white;
  grid-template-columns: 200px 1fr 50px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body {
  overflow-y: auto;
  height: 630px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-account, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-professor {
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid #e2e2e2;
  width: 100%;
  height: 50px;
  display: grid;
  padding: 0 10px;
  padding-top: 10px;
  grid-template-columns: 1fr 1fr 1fr 50px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-account .fa-edit, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-professor .fa-edit {
  color: grey;
  cursor: pointer;
  font-size: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-account .fa-trash, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-professor .fa-trash {
  color: red;
  cursor: pointer;
  font-size: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-subject {
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid #e2e2e2;
  width: 100%;
  height: 50px;
  display: grid;
  padding: 0 10px;
  padding-top: 10px;
  grid-template-columns: 100px 1fr 1fr 1fr 50px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-subject .fa-edit {
  color: grey;
  cursor: pointer;
  font-size: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-subject .fa-trash {
  color: red;
  cursor: pointer;
  font-size: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-classroom, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-section {
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid #e2e2e2;
  width: 100%;
  height: 50px;
  display: grid;
  padding: 0 10px;
  padding-top: 10px;
  grid-template-columns: 1fr 1fr 50px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-classroom .fa-edit, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-section .fa-edit {
  color: grey;
  cursor: pointer;
  font-size: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-classroom .fa-trash, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-section .fa-trash {
  color: red;
  cursor: pointer;
  font-size: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-department {
  margin-bottom: 10px;
  background-color: white;
  border: 2px solid #e2e2e2;
  width: 100%;
  height: 50px;
  display: grid;
  padding: 0 10px;
  padding-top: 10px;
  grid-template-columns: 200px 1fr 50px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-department .fa-edit {
  color: grey;
  cursor: pointer;
  font-size: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-table .table-body .table-data-department .fa-trash {
  color: red;
  cursor: pointer;
  font-size: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal {
  z-index: 100;
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form {
  position: relative;
  padding: 20px;
  background-color: white;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .close-modal {
  font-size: 18px;
  color: black;
  cursor: pointer;
  float: right;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .close-modal:hover {
  color: #e2e2e2;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-account, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-professor {
  height: 400px;
  overflow-y: auto;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-account .row, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-professor .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-account .row .form-group, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-professor .row .form-group {
  position: relative;
  display: grid;
  margin-top: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-account .row .form-group input, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-account .row .form-group select, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-professor .row .form-group input, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-professor .row .form-group select {
  height: 40px;
  padding: 0 10px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-account .row .form-group input:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-account .row .form-group select:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-professor .row .form-group input:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-professor .row .form-group select:focus {
  outline: none;
  border: 1px solid #5176E4;
  box-shadow: 0 0 5px #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-subject {
  height: 400px;
  overflow-y: auto;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-subject .row {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-subject .row .form-group {
  position: relative;
  display: grid;
  margin-top: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-subject .row .form-group h5 {
  margin-top: 10px;
  font-weight: normal;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-subject .row .form-group input, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-subject .row .form-group select {
  height: 40px;
  padding: 0 10px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-subject .row .form-group input:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-subject .row .form-group select:focus {
  outline: none;
  border: 1px solid #5176E4;
  box-shadow: 0 0 5px #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-classroom, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-section, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-department {
  height: 400px;
  overflow-y: auto;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-classroom .row, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-section .row, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-department .row {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  gap: 20px;
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-classroom .row .form-group, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-section .row .form-group, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-department .row .form-group {
  position: relative;
  display: grid;
  margin-top: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-classroom .row .form-group h5, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-section .row .form-group h5, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-department .row .form-group h5 {
  margin-top: 10px;
  font-weight: normal;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-classroom .row .form-group input, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-classroom .row .form-group select, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-section .row .form-group input, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-section .row .form-group select, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-department .row .form-group input, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-department .row .form-group select {
  height: 40px;
  padding: 0 10px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-classroom .row .form-group input:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-classroom .row .form-group select:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-section .row .form-group input:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-section .row .form-group select:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-department .row .form-group input:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .fetch-form-input-department .row .form-group select:focus {
  outline: none;
  border: 1px solid #5176E4;
  box-shadow: 0 0 5px #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .end-form .form-submit-btn {
  margin-top: 20px;
  float: right;
  right: 0px;
  width: 200px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  height: 40px;
  margin-left: 10px;
  background-color: #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .end-form .form-submit-btn:hover {
  box-shadow: 0 0 5px #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .end-form .form-add-row-btn {
  margin-top: 20px;
  float: right;
  right: 0px;
  width: 200px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  height: 40px;
  margin-left: 10px;
  background-color: #FCB053;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal form .end-form .form-add-row-btn:hover {
  box-shadow: 0 0 5px #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update {
  z-index: 100;
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form {
  padding: 20px;
  width: 500px;
  background-color: white;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .header-moda-update {
  display: grid;
  grid-template-columns: 1fr 10px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .header-moda-update i {
  cursor: pointer;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .header-moda-update i:hover {
  color: red;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .form-group {
  position: relative;
  display: grid;
  margin-top: 20px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .form-group h5 {
  margin-top: 10px;
  font-weight: normal;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .form-group .departmentCodeInput {
  background-color: #f2f2f2;
  outline: none;
  border: none;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .form-group input, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .form-group select {
  height: 40px;
  padding: 0 10px;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .form-group input:focus, #superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .form-group select:focus {
  outline: none;
  border: 1px solid #5176E4;
  box-shadow: 0 0 5px #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .end-form .form-submit-btn {
  margin-top: 20px;
  float: right;
  right: 0px;
  width: 200px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  height: 40px;
  margin-left: 10px;
  background-color: #5176E4;
}
#superadmin-dashboard .content #configuration .configuration-content .content-configure-design .custom-modal-update form .end-form .form-submit-btn:hover {
  box-shadow: 0 0 5px #5176E4;
}/*# sourceMappingURL=new-style.css.map */